version: '3.3'

services:
  nextjs-monitor:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nextjs-monitor-php-new
    ports:
      - "8080:8080"   # PHP管理ツール（Apache）
      - "3000:80"     # Next.jsアプリ（nginx）
    volumes:
      - nextjs-app:/var/www/html/next-app
      - logs-data:/var/www/html/logs
      - pids-data:/var/www/html/pids
    environment:
      - GITURL=https://github.com/AIM-SC/next-website.git
      - HOME=/root
      - NPM_CONFIG_CACHE=/tmp/.npm
    restart: always
    working_dir: /var/www/html
    user: "0:0"
    privileged: true

# 名前付きボリューム
volumes:
  nextjs-app:
  logs-data:
  pids-data:
